[Unit]
Description=This cranks up the governor service of the co2sense
[Service]
Type=simple
ExecStart=/home/pi/src/airnose-device/bin/upstart
[Install]
WantedBy=default.target
